
body {
    font-family: "Roboto", sans-serif;
  }
  body {
    background-color: #ffffff; 
  } 

  .text-color {
    color: #000000; 
  }
  
  .highlight-text-color {
    color: #1cbbd0; 
  }
  
  .text-size-large {
    font-size: 55px;
  }
  
  .text-size-medium {
    font-size: 42px;
  }
  
  .text-size-small {
    font-size: 20px; 
  }
  

  .button {
    color: #ffffff; 
    background-color: #e61f57; 
  }

